{% extends "base.html" %}
{% load static %}

{% block content %}
    <section id="home">
      <div class="hero-slider">
        <ul class="slides">
          <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url('https://images.unsplash.com/photo-1575939238474-c8ada13b2724?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=751&q=80');">
            <div class="titan-caption">
              <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">Brooks</div>
                <div class="font-alt mb-30 titan-title-size-4"> Summer 2021</div>
                <div class="font-alt mb-40 titan-title-size-1">Your online fashion destination</div><a class="section-scroll btn btn-border-w btn-round" href="/women/">Shop Women</a><br><br><a class="section-scroll btn btn-border-w btn-round" href="/men/">Shop Men</a>
              </div>
            </div>
          </li>
          <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url('https://images.unsplash.com/photo-1507553532144-b9df5e38c8d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=787&q=80');">
            <div class="titan-caption">
              <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">Brooks</div>
                <div class="font-alt mb-40 titan-title-size-4">Exclusive products</div><a class="section-scroll btn btn-border-w btn-round" href="/women/">Shop Women</a><br><br><a class="section-scroll btn btn-border-w btn-round" href="/men/">Shop Men</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <div class="main">
      <section class="module-small">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Latest in clothing</h2>
            </div>
          </div>
          <div class="row multi-columns-row">
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="https://images.unsplash.com/photo-1602370240543-8ca9e9f0e28f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=635&q=80" alt="Accessories Pack" />
                  <div class="shop-item-detail"><a href="/women/" class="btn btn-round btn-b"><span class="icon-basket">View Products</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="/women/">Accessories Pack</a></h4> Rs. 900
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="https://images.unsplash.com/photo-1509631179647-0177331693ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1868&q=80" alt="Men’s Casual Pack" />
                  <div class="shop-item-detail"><a href="/women/" class="btn btn-round btn-b"><span class="icon-basket">View Products</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="/women/">Men’s Casual Pack</a></h4> Rs. 1200
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="https://images.unsplash.com/photo-1495385794356-15371f348c31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=619&q=80" alt="Men’s Garb" />
                  <div class="shop-item-detail"><a href="/women/" class="btn btn-round btn-b"><span class="icon-basket">View Products</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="/women/">Men's grab</a></h4> Rs. 600
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="https://images.unsplash.com/photo-1513094735237-8f2714d57c13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=675&q=80" alt="Cold Garb" />
                  <div class="shop-item-detail"><a href="/women/" class="btn btn-round btn-b"><span class="icon-basket">View Products</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="/women/">Cold Garb</a></h4> Rs. 1400
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="https://images.unsplash.com/photo-1535530705774-695729778c55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Accessories Pack" />
                  <div class="shop-item-detail"><a href="/men/" class="btn btn-round btn-b"><span class="icon-basket">View Products</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="/men/">Accessories Pack</a></h4> Rs. 900
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="https://images.unsplash.com/photo-1581338834647-b0fb40704e21?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Men’s Casual Pack" />
                  <div class="shop-item-detail"><a href="/men/" class="btn btn-round btn-b"><span class="icon-basket">View Products</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="/men/">Men’s Casual Pack</a></h4> Rs. 1200
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="https://images.unsplash.com/photo-1557684387-08927d28c72a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Men’s Garb" />
                  <div class="shop-item-detail"><a href="/men/" class="btn btn-round btn-b"><span class="icon-basket">View Products</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="/men/">Men’s Garb</a></h4> Rs. 600
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="https://images.unsplash.com/photo-1617690032385-8e376b32336b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80" alt="Cold Garb" />
                  <div class="shop-item-detail"><a href="/men/" class="btn btn-round btn-b"><span class="icon-basket">View Products</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="/men/">Cold Garb</a></h4> Rs. 1400
              </div>
            </div>
          </div>
          <div class="row mt-30">
            <div class="col-sm-12 align-center"><a class="btn btn-b btn-round" href="/women/">See all products</a></div>
          </div>
        </div>
      </section>


      <section class="module module-video bg-dark-30" data-background="" style="background-image: url('https://images.unsplash.com/photo-1545231097-c046d9dcc2f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=908&q=80');">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3" >

              <h2 class="module-title font-alt mb-0">Be inspired. Get ahead of trends.</h2>
            </div>
          </div>
        </div>
<!--        <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=EMy5krGcoOU', containment:'.module-video', startAt:0, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>-->
      </section>
      <section class="module">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Exclusive products</h2>
              <div class="module-subtitle font-serif">The languages only differ in their grammar, their pronunciation and their most common words.</div>
            </div>
          </div>
          <div class="row">
            <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="ex-product"><a href="#"><img src="https://images.unsplash.com/photo-1617019114583-affb34d1b3cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Leather belt" /></a>
                    <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4> Rs. 1200
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="ex-product"><a href="#"><img src="https://images.unsplash.com/photo-1588824051376-0063738d61e0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1960&q=80" alt="Derby shoes" /></a>
                    <h4 class="shop-item-title font-alt"><a href="#">Derby shoes</a></h4> Rs. 5400
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="ex-product"><a href="#"><img src="https://images.unsplash.com/photo-1565115021788-6d3f1ede4980?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80" alt="Leather belt" /></a>
                    <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4> Rs. 1900
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="ex-product"><a href="#"><img src="https://images.unsplash.com/photo-1611774940022-8ef04bf4058f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Leather belt" /></a>
                    <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4> Rs. 1400
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="ex-product"><a href="#"><img src="https://images.unsplash.com/photo-1588050072896-907a73855add?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Chelsea boots" /></a>
                    <h4 class="shop-item-title font-alt"><a href="#">Chelsea boots</a></h4> Rs. 4400
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="ex-product"><a href="#"><img src="https://images.unsplash.com/photo-1582274528667-1e8a10ded835?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="Leather belt" /></a>
                    <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4> Rs. 1900
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="divider-w">


      <section class="module-small">
        <div class="container">
          <div class="row client">
            <div class="owl-carousel text-center" data-items="6" data-pagination="false" data-navigation="false">
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/calvinklein.jpg' %}" alt="Calvin klein"></div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/chanel.png' %}" alt="chanel"></div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/gucci.png' %}" alt="Client Logo"></div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/handm.png' %}" alt="Client Logo"></div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/louis_vuitton.png' %}" alt="Client Logo"></div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/nike.png' %}" alt="Client Logo"></div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/adidas.png' %}" alt="Client Logo"></div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/ralph_lauren.png' %}" alt="Client Logo"></div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/levis.png' %}" alt="Client Logo"></div>
                </div>
              </div>
              <div class="owl-item">
                <div class="col-sm-12">
                  <div class="client-logo"><img src="{% static 'images/dior.png' %}" alt="Client Logo"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

{% endblock content %}
